# Pandas for PyCitySchools

## Trends 

1.There appears to be a significant trend toward lower over-all passing rates once the total number of students surpasses 2283 regardless of the fact that the budget per student is larger.
2. The second trend is that the Charter Schools all have significantly across the board higher math and reading scores and higher over-all passing rates with smaller budgets per student.

I did not get to the following sections:
•	Scores by School Spending
•	Scores by School Size
•	Scores by School Type


### NOTE: ### This code using the lambda to compute the % Passing Math and % Reading does work BUT it is NOT my creation. I had help with this part. I had used the code from my District summary but my method returned  percentages that were incorrect:
School_Sum["% Passing Math"] = round((SchSum_df.apply(lambda x: (x["Math Score"] >= 70).sum()) / 
                                          School_Sum["Total Students"]) * 100, 2)
School_Sum["% Passing Reading"] = round((SchSum_df.apply(lambda x: (x["Reading Score"] >= 70).sum()) / 
                                          School_Sum["Total Students"]) * 100, 2)

School_Sum["Overall Passing Rate"] = round((School_Sum["% Passing Math"] + 
                                               School_Sum["% Passing Reading"]) / 2, 2)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load
sch_data = "Resources/schools_complete.csv"
stu_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
sch_df = pd.read_csv(sch_data)
stu_df = pd.read_csv(stu_data)


# Combine the data into a single dataset
sch_stu_merged = pd.merge(stu_df, sch_df, how="left", on=["school_name", "school_name"])
sch_stu_merged.head

renamed_sch_stu_merged_df = sch_stu_merged.rename(columns={"school_name":"School Name", "student_name":"Student Name", 
                                                           "reading_score":"Reading Score", "math_score":"Math Score",
                                                          "budget":"Budget", "type":"Type", "size":"Size", "grade":"Grade",
                                                          "gender":"Gender",})

# stu_df

renamed_sch_stu_merged_df["School Name"].unique()

Tot_Schs = len(renamed_sch_stu_merged_df["School Name"].unique())
Tot_Stus = len(renamed_sch_stu_merged_df["Student ID"].unique())
Tot_Bud = float((sch_df["budget"]).sum())
# Calculate the average math score
# Calculate the average reading score
AveReadScor = (renamed_sch_stu_merged_df["Reading Score"].mean())
AveMathScor = (renamed_sch_stu_merged_df["Math Score"].mean())

# print(Tot_Schs, Tot_Stus,Tot_Bud, AveMathScor, AveReadScor)
"""15 39170 24649428.0 78.98537145774827 81.87784018381414"""

# print(AveMathScor,AveReadScor)
"""78.98537145774827 81.87784018381414"""

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Tot_Pass_rt = (AveReadScor + AveMathScor)/2
Tot_Pass_rt

# Calculate the percentage of students with a passing math score (70 or greater)

MathPass = len(renamed_sch_stu_merged_df.loc[renamed_sch_stu_merged_df["Math Score"] >= 70]["Student ID"])
MathPass

PerMathPass = (MathPass/Tot_Stus)
PerMathPass

# Calculate the percentage of students with a passing reading score (70 or greater)
ReadPass = len(renamed_sch_stu_merged_df.loc[renamed_sch_stu_merged_df["Reading Score"] >= 70]["Student ID"])
ReadPass

PerReadPass = (ReadPass/Tot_Stus)
PerReadPass


# print(Tot_Pass_rt, MathPass, PerMathPass, ReadPass, PerReadPass)
'''80.43160582078121   29370   0.749808526933878   33610   0.8580546336482001'''

# Create a dataframe to hold the above results

Dist_Sum = pd.DataFrame([
    {"Total Schools": Tot_Schs, "Total Students": Tot_Stus, "Total Budget": Tot_Bud, "Ave. Match Score": AveMathScor, 
     "Ave. Reading Score": AveReadScor, "% Passing Math": PerMathPass, "% Passing Reading": PerReadPass, 
     "% Overall Passing Rate": Tot_Pass_rt}
])

Dist_Sum  # Output for District Summary

,Total Schools,Total Students,Total Budget,Ave. Match Score,Ave. Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428.0,78.985371,81.87784,0.749809,0.858055,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [10]:
'''# Goup by School Name to Generate a SUMMARY by SCHOOL'''

SchSum_df = renamed_sch_stu_merged_df.groupby("School Name")

School_Sum = pd.DataFrame({"School Name":sch_df["school_name"], "School Type":sch_df["type"],
                             "Total Budget":sch_df["budget"]})

# .set_index("School Name").sort_values("School Name")
School_Sum = School_Sum.set_index("School Name")
School_Sum = School_Sum.sort_values("School Name")

# School_Sum ["Grade"] = SchSum_df["Grade"]
School_Sum ["Total Students"] = SchSum_df["Student ID"].count()
School_Sum ["Budget/Student"] = School_Sum["Total Budget"]/School_Sum["Total Students"]
School_Sum ["Ave. Reading Score"] = round(SchSum_df["Reading Score"].mean(),2)
School_Sum ["Ave. Math Score"] = round(SchSum_df["Math Score"].mean(),2)

"""## Tried using my code below from earlier calcuation but it returned the incorrect numbers for the % Passing and Overall Passing
# AveReadScor1 = (School_Sum["Ave. Reading Score"])
# AveMathScor1 = (School_Sum["Ave. Math Score"])
# Sch_Tot_Pass_rt = (AveReadScor1 + AveMathScor1)/2
# School_Sum ["% Overall Passing Rate"] = Sch_Tot_Pass_rt
"""

### This code below using lambda works but is NOT my creation. My method returned an average that was incorrect:
School_Sum["% Passing Math"] = round((SchSum_df.apply(lambda x: (x["Math Score"] >= 70).sum()) / 
                                          School_Sum["Total Students"]) * 100, 2)
School_Sum["% Passing Reading"] = round((SchSum_df.apply(lambda x: (x["Reading Score"] >= 70).sum()) / 
                                          School_Sum["Total Students"]) * 100, 2)

School_Sum["Overall Passing Rate"] = round((School_Sum["% Passing Math"] + 
                                               School_Sum["% Passing Reading"]) / 2, 2)

School_Sum

,School Type,Total Budget,Total Students,Budget/Student,Ave. Reading Score,Ave. Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,81.03,77.05,66.68,81.93,74.31
Cabrera High School,Charter,1081356,1858,582.0,83.98,83.06,94.13,97.04,95.58
Figueroa High School,District,1884411,2949,639.0,81.16,76.71,65.99,80.74,73.36
Ford High School,District,1763916,2739,644.0,80.75,77.10,68.31,79.30,73.81
Griffin High School,Charter,917500,1468,625.0,83.82,83.35,93.39,97.14,95.26
Hernandez High School,District,3022020,4635,652.0,80.93,77.29,66.75,80.86,73.81
Holden High School,Charter,248087,427,581.0,83.81,83.80,92.51,96.25,94.38
Huang High School,District,1910635,2917,655.0,81.18,76.63,65.68,81.32,73.50
Johnson High School,District,3094650,4761,650.0,80.97,77.07,66.06,81.22,73.64
Pena High School,Charter,585858,962,609.0,84.04,83.84,94.59,95.95,95.27
Rodriguez High School,District,2547363,3999,637.0,80.74,76.84,66.37,80.22,73.30
Shelton High School,Charter,1056600,1761,600.0,83.73,83.36,93.87,95.85,94.86
Thomas High School,Charter,1043130,1635,638.0,83.85,83.42,93.27,97.31,95.29
Wilson High School,Charter,1319574,2283,578.0,83.99,83.27,93.87,96.54,95.21
Wright High School,Charter,1049400,1800,583.0,83.96,83.68,93.33,96.61,94.97

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [11]:
# ****** Top Five Performing Schools by Overall Passing Rate *******
School_Sum.sort_values(("Overall Passing Rate"), ascending=False).head()

,School Type,Total Budget,Total Students,Budget/Student,Ave. Reading Score,Ave. Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1081356,1858,582.0,83.98,83.06,94.13,97.04,95.58
Thomas High School,Charter,1043130,1635,638.0,83.85,83.42,93.27,97.31,95.29
Pena High School,Charter,585858,962,609.0,84.04,83.84,94.59,95.95,95.27
Griffin High School,Charter,917500,1468,625.0,83.82,83.35,93.39,97.14,95.26
Wilson High School,Charter,1319574,2283,578.0,83.99,83.27,93.87,96.54,95.21

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [12]:
# ****** Bottom Five Performing Schools by Overall Passing Rate *******
School_Sum.sort_values(("Overall Passing Rate"), ascending=True).head()

,School Type,Total Budget,Total Students,Budget/Student,Ave. Reading Score,Ave. Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,2547363,3999,637.0,80.74,76.84,66.37,80.22,73.30
Figueroa High School,District,1884411,2949,639.0,81.16,76.71,65.99,80.74,73.36
Huang High School,District,1910635,2917,655.0,81.18,76.63,65.68,81.32,73.50
Johnson High School,District,3094650,4761,650.0,80.97,77.07,66.06,81.22,73.64
Ford High School,District,1763916,2739,644.0,80.75,77.10,68.31,79.30,73.81

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [13]:
"""The following produces the Ave Reading and Math Scores by School and by Grade however I could not figure out _
how to get it into the requested format"""
#Math and Reading scores by School and Grade

import numpy as np
newtest1 = renamed_sch_stu_merged_df.set_index("School Name")
newtest2 = newtest1.groupby(["School Name", "Grade"]).agg(['mean'])
newtest3 = newtest2.sort_values(["School Name", "Grade"], ascending=[True, True])

# newtest3.iloc[:,1:3].reset_index()
AveReadMathScoreBySchandGrd = newtest3.iloc[:,1:3].reset_index()
AveReadMathScoreBySchandGrd

              School Name Grade Reading Score Math Score
                                         mean       mean
0      Bailey High School  10th     80.907183  76.996772
1      Bailey High School  11th     80.945643  77.515588
2      Bailey High School  12th     80.912451  76.492218
3      Bailey High School   9th     81.303155  77.083676
4     Cabrera High School  10th     84.253219  83.154506
5     Cabrera High School  11th     83.788382  82.765560
6     Cabrera High School  12th     84.287958  83.277487
7     Cabrera High School   9th     83.676136  83.094697
8    Figueroa High School  10th     81.408912  76.539974
9    Figueroa High School  11th     80.640339  76.884344
10   Figueroa High School  12th     81.384863  77.151369
11   Figueroa High School   9th     81.198598  76.403037
12       Ford High School  10th     81.262712  77.672316
13       Ford High School  11th     80.403642  76.918058
14       Ford High School  12th     80.662338  76.179963
15       Ford High School   9th     80.632653  77.361345
16    Griffin High School  10th     83.706897  84.229064
17    Griffin High School  11th     84.288089  83.842105
18    Griffin High School  12th     84.013699  83.356164
19    Griffin High School   9th     83.369193  82.044010
20  Hernandez High School  10th     80.660147  77.337408
21  Hernandez High School  11th     81.396140  77.136029
22  Hernandez High School  12th     80.857143  77.186567
23  Hernandez High School   9th     80.866860  77.438495
24     Holden High School  10th     83.324561  83.429825
25     Holden High School  11th     83.815534  85.000000
26     Holden High School  12th     84.698795  82.855422
27     Holden High School   9th     83.677165  83.787402
28      Huang High School  10th     81.512386  75.908735
29      Huang High School  11th     81.417476  76.446602
30      Huang High School  12th     80.305983  77.225641
31      Huang High School   9th     81.290284  77.027251
32    Johnson High School  10th     80.773431  76.691117
33    Johnson High School  11th     80.616027  77.491653
34    Johnson High School  12th     81.227564  76.863248
35    Johnson High School   9th     81.260714  77.187857
36       Pena High School  10th     83.612000  83.372000
37       Pena High School  11th     84.335938  84.328125
38       Pena High School  12th     84.591160  84.121547
39       Pena High School   9th     83.807273  83.625455
40  Rodriguez High School  10th     80.629808  76.612500
41  Rodriguez High School  11th     80.864811  76.395626
42  Rodriguez High School  12th     80.376426  77.690748
43  Rodriguez High School   9th     80.993127  76.859966
44    Shelton High School  10th     83.441964  82.917411
45    Shelton High School  11th     84.373786  83.383495
46    Shelton High School  12th     82.781671  83.778976
47    Shelton High School   9th     84.122642  83.420755
48     Thomas High School  10th     84.254157  83.087886
49     Thomas High School  11th     83.585542  83.498795
50     Thomas High School  12th     83.831361  83.497041
51     Thomas High School   9th     83.728850  83.590022
52     Wilson High School  10th     84.021452  83.724422
53     Wilson High School  11th     83.764608  83.195326
54     Wilson High School  12th     84.317673  83.035794
55     Wilson High School   9th     83.939778  83.085578
56     Wright High School  10th     83.812757  84.010288
57     Wright High School  11th     84.156322  83.836782
58     Wright High School  12th     84.073171  83.644986
59     Wright High School   9th     83.833333  83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Reading scores by grade shown above

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [15]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.